:root {
	/* Colors */
	--light-green-color: linear-gradient(90deg, #3fe8ab 0%, #78cdcd 100%);
	--dark-grey-color: #1b1b1b;
	--light-grey-color: #b8b8b8;
	--black-color: #111111;
	--second-black: #151515;
	--gray-color: #969696;
	--white-color: #f6f6f6;
	--green-grey-color: #383f3e;
	--regular-grey-color: #3b3d3c;
	/* Fonts */
	--roboto-Medium: roboto-M;
	--spaceGrotesk-Bold: spaceGrotesk-B;
	--spaceGrotesk-Medium: spaceGrotesk-M;
	--spaceGrotesk-Regular: spaceGrotesk-R;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	font-size: 1.6rem;
	min-height: 100vh;
	background-color: var(--dark-grey-color);
}

h1 {
	font-family: var(--spaceGrotesk-Bold);
	font-size: 6.5rem;
	line-height: 1.1;
	color: var(--white-color);
}

h2 {
	font-family: var(--spaceGrotesk-Bold);
	font-size: 5.8rem;
	line-height: 1.2;
	color: var(--white-color);
}

.text {
	font-family: var(--roboto-Medium);
	color: var(--gray-color);
	line-height: 1.5;
}

.btn {
	font-family: var(--spaceGrotesk-Medium);
	font-size: 1.6rem;
	border-radius: 0.5rem;
	background: var(--light-green-color);
	color: var(--black-color);
	border: none;
	outline: none;
	cursor: pointer;
}

.direct-link {
	font-family: var(--spaceGrotesk-Medium);
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	background: var(--light-green-color);
	color: var(--black-color);
	text-decoration: none;
	border: none;
	outline: none;
}

.direct-link:checked {
	color: var(--black-color);
	text-decoration: none;
}

/* ? LogIn Form */
.form-wrapper {
	width: 55rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-wrapper__login-form {
	width: 100%;
	padding-top: 3.5rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--second-black);
	border: 0.4rem solid var(--green-grey-color);
	border-radius: 1.8rem;
}

.form-wrapper__login-form-title {
	font-size: 4.3rem;
	margin-bottom: 2.1rem;
}

.form-wrapper__login-form-text {
	font-size: 1.8rem;
	max-width: 39rem;
	margin-bottom: 4rem;
}

.login-form__wrapper-username,
.login-form__wrapper-password {
	width: 80%;
	height: 6.6rem;
	display: flex;
	align-items: center;
	padding-left: 2.2rem;
	padding-right: 1rem;
	background-color: var(--regular-grey-color);
	border-radius: 0.6rem;
	margin-bottom: 2rem;
}

.login-form__wrapper-password {
	margin-bottom: 1.5rem;
}

.login-form__username-input,
.login-form__password-input {
	width: 85%;
	height: 75%;
	font-family: var(--roboto-Medium);
	font-size: 1.8rem;
	background-color: transparent;
	color: var(--white-color);
	border: none;
	outline: none;
	margin-left: 2rem;
}

.error-icon {
	margin-right: 0.3rem;
}

.login-form__warning-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	color: #ff0032;
	opacity: 0;
	visibility: hidden;
}

.warn {
	opacity: 1;
	visibility: visible;
}

.login-form__wrapper-submit-button {
	width: 28rem;
	height: 5rem;
	font-family: var(--spaceGrotesk-Bold);
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	background: var(--light-green-color);
	border-radius: 0.6rem;
	margin-top: 1.2rem;
}

.login-form__wrapper-forgot-password {
	margin-top: 2rem;
	cursor: pointer;
}

/* ! Header & Navigation */
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.nav-list {
	display: flex;
}

.nav-list__links {
	font-family: var(--spaceGrotesk-Medium);
	font-size: 1.8rem;
	margin-inline: 2rem;
	transition: all 150ms ease-in-out;
}

.nav-list__links:hover {
	transform: scale(1.1);
}

.nav-list__link {
	color: var(--white-color);
	text-decoration: none;
}

.nav-list__logout-btn {
	width: 13rem;
	height: 3.5rem;
}

.hamburger-menu {
	width: 3.2rem;
	height: 2.4rem;
	margin-right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ham-dash {
	width: 100%;
	height: 0.3rem;
	background-color: var(--white-color);
	border-radius: 0.3rem;
	transition: all 200ms ease-in-out;
}

.ham-dash--toggle .ham-dash:nth-child(1) {
	transform: rotate(47deg) translate(1.4rem);
}

.ham-dash--toggle .ham-dash:nth-child(2) {
	display: none;
}

.ham-dash--toggle .ham-dash:nth-child(3) {
	transform: rotate(-47deg) translate(1.4rem);
}

.ham-nav {
	width: 20rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -20rem;
	background-color: var(--green-grey-color);
	visibility: hidden;
	transition: all 200ms ease-in-out;
}

.ham-nav--show {
	visibility: visible;
	left: 0;
}

.ham-nav-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
}

.ham-nav-logo__logout-btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.1;
	padding: 0;
}

.ham-nav-list__links {
	list-style-type: none;
	margin-block: 3.6rem;
	margin-left: 2rem;
}

.ham-nav-list__link {
	font-family: var(--spaceGrotesk-Medium);
	font-size: 2rem;
	color: var(--white-color);
	text-decoration: none;
}

/* ? Main & Starting Banner */
.starting-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 14rem;
}

.starting-banner__img {
	width: 100%;
	height: 100%;
}

.starting-banner__text-cover {
	margin-left: 8rem;
	text-align: left;
}

.starting-banner__text-cover-title {
	margin-bottom: 3rem;
}

.starting-banner__text-cover-subtext {
	max-width: 60rem;
	margin-bottom: 5rem;
}

.starting-banner__text-cover-direct-link {
	width: 18rem;
	height: 4.5rem;
}

/* ! List of Trusted Companies */
.trusted-companies-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4.5rem;
	margin-top: 14rem;
}

/* ? Crypto News */
.crypto-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 14rem;
}

.crypto-news__img {
	width: 100%;
	height: 100%;
}

.crypto-news__text-cover {
	text-align: left;
	margin-left: 8rem;
}

.crypto-news__text-cover-title {
	margin-bottom: 3rem;
}

.crypto-news__text-cover-text {
	margin-bottom: 3rem;
}

.crypto-news__direct-link {
	width: 18rem;
	height: 4.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
