:root {
	/* Colors */
	--light-green-color: linear-gradient(90deg, #3fe8ab 0%, #78cdcd 100%);
	--dark-grey-color: #1b1b1b;
	--light-grey-color: #b8b8b8;
	--black-color: #111111;
	--second-black: #151515;
	--gray-color: #969696;
	--white-color: #f6f6f6;
	--green-grey-color: #383f3e;
	--regular-grey-color: #3b3d3c;
	/* Fonts */
	--roboto-Medium: roboto-M;
	--spaceGrotesk-Bold: spaceGrotesk-B;
	--spaceGrotesk-Medium: spaceGrotesk-M;
	--spaceGrotesk-Regular: spaceGrotesk-R;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	font-size: 1.6rem;
	min-height: 100vh;
	background-color: var(--dark-grey-color);
}

h1 {
	font-family: var(--spaceGrotesk-Bold);
	font-size: 8rem;
	line-height: 1.5;
	color: var(--white-color);
}

h2 {
	font-family: var(--spaceGrotesk-Bold);
	font-size: 5.8rem;
	line-height: 1.5;
	color: var(--white-color);
}

.text {
	font-family: var(--roboto-Medium);
	color: var(--gray-color);
	line-height: 1.5;
}

.btn {
	font-family: var(--spaceGrotesk-Regular);
	font-size: 1.6rem;
	border-radius: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
}

/* LogIn Form */
.form-wrapper {
	width: 55rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-wrapper__login-form {
	width: 100%;
	padding-top: 3.5rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--second-black);
	border: 0.4rem solid var(--green-grey-color);
	border-radius: 1.8rem;
}

.form-wrapper__login-form-title {
	font-size: 4.3rem;
	margin-bottom: 2.1rem;
}

.form-wrapper__login-form-text {
	font-size: 1.8rem;
	max-width: 39rem;
	margin-bottom: 4rem;
}

.login-form__wrapper-username,
.login-form__wrapper-password {
	width: 80%;
	height: 6.6rem;
	display: flex;
	align-items: center;
	padding-left: 2.2rem;
	padding-right: 1rem;
	background-color: var(--regular-grey-color);
	border-radius: 0.6rem;
	margin-bottom: 3rem;
}

.login-form__username-input,
.login-form__password-input {
	width: 85%;
	height: 75%;
	font-family: var(--roboto-Medium);
	font-size: 1.8rem;
	background-color: transparent;
	color: var(--white-color);
	border: none;
	outline: none;
	margin-left: 2rem;
}

.login-form__wrapper-forgot-password {
	margin-bottom: 3rem;
	cursor: pointer;
}

.login-form__wrapper-submit-button {
	width: 28rem;
	height: 5rem;
	font-family: var(--spaceGrotesk-Bold);
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	background: var(--light-green-color);
	border-radius: 0.6rem;
}
